#thumb-container 
  - @category.each do |cat|
    .row.content
      %h2
        = cat.name
      %p
        = cat.description
      .gallery-thumbs
        - cat.gallery_images.each do |img|
          %img{ src: "#{img.image.thumb.url}", data: {img: (img.id)}, class: "selected"}

      
#gallery
  #image-info
    %h2{ data: {type: "title"} }
      = @image.title
    %ul
      %li.img-date{ data: {type: "date"} }
        = @image.date
      %li.img-medium{ data: {type: "medium"} }
        = @image.medium
      %li.img-scale{ data: {type: "scale"} }
        = @image.scale
    %p.img-description{ data: {type: "description"} }
      = @image.description

  #img-wrapper
    .img-container
      / #loading-container
      /   %img{ src: "/images/icons/loading.gif"}
      %img{ src: "#{@image.image.url}" }

:javascript
  $(document).ready(function(){

    $(".gallery-thumbs img").on("click", function(){
      $("#loading-container").show();
      getImage($(this))
    });

    function getImage(thumb){
      var url = "/gallery/" + thumb.data("img");
      
      $.ajax({
        url: url,
        data: "html",
        success: function(data){
          var newImage = $($.parseXML(data)),
            columns = ["title", "scale", "medium", "description", "date"],
            url = newImage.find("image").children("url").text();
            image = $('.img-container>img');
          
          for(var i=0; i < columns.length; i++){
            console.log("[data-type="+columns[i]+"]");
            $("[data-type="+columns[i]+"]").html(newImage.find(columns[i]).text());
          }

          image.attr("src", url);
          image.load(function(){
            $("#loading-container").hide();
          })
        }
      });
    }

  });