#thumb-container 
  %nav.subnav
    %ul
      - @categories.each do |cat|
        %li
          %a{ href: "/gallery/#{cat.id}", class: ("selected" if cat == @category) }
            = cat.name
        - unless cat === @categories.last
          %li
            |
  .row.gallery-thumbs
    %p
      = @category.description
    - @category.gallery_images.each do |img|
      %img{ src: "#{img.image.thumb.url}", data: {img: (img.id)}, class: "selected"}
      
#gallery
  .img-container
    #image-info
      %h2{ data: {type: "title"} }
        = @image.title
      %ul
        %li.img-date{ data: {type: "date"} }
          = @image.date
        %li.img-medium{ data: {type: "medium"} }
          = @image.medium
        %li.img-scale{ data: {type: "scale"} }
          = @image.scale
    %img#loading.hide{ src: "/images/icons/loading.gif"}
    %img.painting{ src: "#{@image.image.url}" }
    %p.img-description{ data: {type: "description"} }
      = @image.description

:javascript
  $(document).ready(function(){

    $(".gallery-thumbs img").on("click", function(){
      $("#loading").show();
      $(".painting").css("opacity", "0.3");
      getImage($(this))
    });

    function getImage(thumb){
      var url = "/galleryget/" + thumb.data("img");
      
      $.ajax({
        url: url,
        data: "html",
        success: function(data){
          var newImage = $($.parseXML(data)),
            columns = ["title", "scale", "medium", "description", "date"],
            url = newImage.find("image").children("url").text();
            image = $('img.painting');
          
          for(var i=0; i < columns.length; i++){
            console.log("[data-type="+columns[i]+"]");
            $("[data-type="+columns[i]+"]").html(newImage.find(columns[i]).text());
          }

          image.attr("src", url);
          image.load(function(){
            $("#loading").hide();
            $(".painting").css("opacity", "1.0");
          })
        }
      });
    }

  });