.half-container
  %label{ for: "image_title"}
    Title:
  %input{ id: "image_title", name: "image[title]", type: "text", value: "#{@image.title}"}

  %label{ for: "iamge_category"}
    Category:
  %select{ id: "image_category", name: "image[category_id]" }
    - Category.all.each do |cat|
      %option{ value: cat.id, selected: (@image.category_id == cat.id) }
        = cat.name

  %label{ for: "image_date"}
    Date:
  %input{ id: "image_date", name: "image[date]", type: "text", value: "#{@image.date}"}

  %label{ for: "image_scale"}
    Medium:
  %input{ id: "image_scale", name: "image[medium]", type: "text", value: "#{@image.medium}"}

  %label{ for: "description"}
    Description:
  %textarea{ id: "description", name: "image[description]", rows: "10" }
    = @image.description

.half-container
  - unless @image.image.url.nil?
    %img{ src: (@image.image.url) }
  %label{ for: "image"}
    Image:
  %input{ id: "image", name: "image[image]", type: "file" }

  %label{ for: "image_homepage" }
    Add to homepage?
  %input{ name: "image[homepage]", type: "hidden", value: "0"}
  %input{ type: "checkbox", id: "image_homepage", name: "image[homepage]", value: "1", checked: ("checked" if @image.homepage) }

  %label{ for: "iamge_category"}
    Homepage Position:
  %select{ id: "image_position", name: "image[position]" }
    - positions = [1,2,3,4]
    - positions.each do |pos|
      %option{ value: pos, selected: (@image.position == pos) }
        = pos