#content
  .row
    %table
      %tr 
        %th.thumb
          Image 
        %th
          Title
        %th
          Date
        %th
          Medium
        %th
          Scale
        %th
          Desc.
      - @gallery.each do |i|
        %tr
          %td.thumb
            %a{ href: "/admin/gallery/#{i.id}/edit"}
              %img{ src: (i.image.thumb.url), alt: "Linda R James - #{i.title}" }
          %td
            %h3
              %a{ href: "/admin/gallery/#{i.id}/edit"}    
                = i.title
          %td
            = i.date
          %td
            = i.medium
          %td
            = i.scale
          %td
            = i.description
          
    %a.btn{ href: "/admin/gallery/new" }  
      add images