= haml :'/commentary/_subnav'

#left-container 
  = haml :'/shared/_navigation'
  .row.content
    %h2
      = @commentary.title
    = pretty_date(@commentary.created_at)
    %p
      = @commentary.content
      
%img.bg{ src: "/images/backgrounds/commentary.jpg" }

